* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    box-shadow: 0px 0px 10px 5px cornflowerblue;
    padding: 0vw;
    margin: 5vh 20vw;
    border-radius: 5px;
    background-color: whitesmoke;
    min-height: 80vh;
}
login-signup #selector {
    text-align: center;
}

.btn {
    margin: 5px;
    padding: 5px;
    font-size: 0.8rem;
    color: black;
    border-radius: 5px;
    background-color: lightgreen;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 10px 5px whitesmoke;
}
.btn-xl{
    font-size: 1rem;
    padding: 0.5rem 2rem;
}
.btn-danger{
    background-color: darkred;
    color: white!important;
}
.btn-danger:hover{
    background-color: rgb(182, 4, 4)!important;
}
.btn-block{
    width:100%;
}
.btn:hover{
    box-shadow: 2px 2px 5px black;
}

form {
    box-shadow : 0px 0px 10px 10px rgb(187, 211, 249);
    border-radius: 5px;
    margin: 4vw;
    padding: 50px 70px;
    display: inline-table;
    position: relative;
    width: 40vw;
}

.close {
    float: right;
}

form label {
    font-size: 1.5rem;
    font-style: oblique;
    line-height: 1.5rem;
}

form input {
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px 0px;
    width: 100%;
    border: 1px solid rebeccapurple;
    box-shadow: 0px 0px 10px rebeccapurple;
}

form h2{
    text-align: center;
    font-size: 1.5rem;
}

form a{
    text-decoration-color: blue;
}

login, signup, forgot {
    display: none;
}

@media screen and (max-width:600px) {
    body {
        margin: 5vw;
    }
    .btn {
        display: block;
        width: 80%;
        margin: 5px 10vw;
    }
    
    form {
        position: relative;
        top: 0vh;
        margin: 3vw;
        padding: 10px 7px;
        width: 80vw;
    }

    form input {
        line-height: 1rem;
        font-size: 1.2rem;
        padding: 5px;
        margin: 10px 0px;
        width: 95%;
    }
}