body {
    box-shadow: 0px 0px 10px 5px cornflowerblue;
    padding: 0vw;
    margin: 5vh 20vw;
    border-radius: 5px;
    background-color: whitesmoke;
    min-height: 80vh;
}
login-signup #selector {
    text-align: center;
}

login, signup, forgot {
    display: none;
}

.btn {
    margin: 5px;
    padding: 5px;
    font-size: 0.8rem;
    color: black;
    border-radius: 5px;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 10px 5px whitesmoke;
}
.btn-xl{
    font-size: 1rem;
    padding: 0.5rem 2rem;
}
.btn-danger{
    background-color: darkred;
    color: white!important;
}
.btn-danger:hover{
    background-color: rgb(182, 4, 4)!important;
}
.btn-block{
    width:100%;
}
.btn:hover{
    /* background-color: skyblue; */
    box-shadow: 2px 2px 5px black;
}

form {
    box-shadow : 0px 0px 10px 10px rgb(187, 211, 249);
    border-radius: 5px;
    margin: 4vw;
    padding: 50px 70px;
    display: inline-table;
    position: relative;
    width: 40vw;
}

form label {
    font-size: 1.5rem;
    font-style: oblique;
    line-height: 1.5rem;
}

form input {
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px 0px;
    width: 100%;
}

form h2{
    text-align: center;
    font-size: 2rem;
}

form a{
    text-decoration-color: blue;
}